:root {
    --footer-height: 182px; 
    --border-header-footer: 3px rgba(255,255,255,0.7) solid;
    --background-color: #181818;
    --text-color: rgb(222, 222, 222);
    --important: #ffd800;
}

/* GENERAL */
html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Montserrat', 'Arial', sans-serif;
    margin: 0 0 var(--footer-height); /* bottom = footer height */
}
.important {
    color: var(--important);
}
b {
    font-weight: bold;
    color: var(--important);
}
a, a:hover {
    color: var(--important);
}
h1 {
    font-family: 'Roboto', 'sans-serif';
    margin: auto;
    text-align: center;
    padding-bottom: 0.6em;
}
p {
    font-size: 18px; 
    line-height: 1.9; 
}

/* HEADER */
header {
    margin-bottom: 5%;
}
#header-container {
    padding-bottom: 0;
}
.navbar {
    border-bottom: var(--border-header-footer);
}
.nav-link {
    text-align: center !important;
}

/* CONTENT */
.container {
    padding-bottom: 25px;
}
.table {
    color: white;
}

/* FOOTER */
footer
{
    border-top: var(--border-header-footer);
    position: absolute;
    left: 0;
    bottom: 0;
    height: var(--footer-height);
    width: 100%;
}
.footer-text
{
	font-size: 18px;
    padding: 0 0 25px 0;
}
footer i
{
	font-size: 25px;
	margin: 20px;
	height: 30px;
}
footer i:hover
{
	font-size: 30px;
}
.realDateTime {
    padding-bottom: 20px;
}
#realDateTime {
    font-size: 18px;
    font-family: 'Roboto', 'sans-serif';
}