.Functions__title {
  padding: 20px 0 20px 0;
  margin-bottom: 0;
}
.Functions__form-control {
  display: block;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.5em;
}
.Functions__search-container {
  margin-bottom: 50px;
}
.Functions__select-option {
  color: rgb(221, 220, 220);
}
.Functions__search-input {
  width: 40%;
}
/* col-sm */
@media (max-width: 576px) {
  .Functions__search-container {
    flex-direction: column;
    align-items: center;
  }
  .Functions__select {
    width: 90%;
    margin-bottom: 5px;
  }
  .Functions__search-input {
    width: 90%;
  }
}
