<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Short-links</title>
    <link rel="icon" type="image/png" href="/images/error404.png" />
  </head>
  <body>
    <style type="text/css">
      * {
        font-family: Arial;
        color: #fff;
        background-color: black;
      }
    </style>
    <p>Adresse url non connue</p>
  </body>
</html>
