.Chronometer__container {
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.25);
  border: 1px solid black;
  border-radius: 1rem;
  padding: 20px;
  margin-bottom: 40px;
}
.Chronometer__item {
  width: 100%;
}
.Chronomter__row {
  margin: 8px 0 16px 0;
  text-align: center;
}
.Chronometer__time-left {
  font-size: 3rem;
  font-weight: 700;
}
.Chronometer__buttons {
  border-top: solid 3px var(--important);
  padding-top: 12px;
}
.Chronometer__row-button {
  display: flex;
  justify-content: center;
}
.Chronometer-btn {
  color: var(--text-color);
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 14px;
  margin-right: 14px;
  width: 2em;
}
