.Home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Home__logo-spin {
  cursor: pointer;
}
.Home__image-width {
  width: 13em;
}
div[aria-hidden='false'] {
  overflow: hidden !important;
}
