.Register-Login__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Register-Login__row {
    padding: 30px;
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, .25);
    border: 1px solid black;
    border-radius: 1rem;
}
.Register-Login__title {
    text-align: center;
}